<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-2">
      <%= render partial: "shared/sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="card mb-4">
        <div class="card-body text-center">
          <% if @ogiri_topic.image_url.present? %>
            <%= image_tag "/#{@ogiri_topic.image_url}", class: "img-fluid", alt: "大喜利のお題" %>
          <% else %>
            <div class="bg-secondary text-white p-4">
              大喜利のお題
            </div>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 mx-auto">
          <%= form_with model: @post, url: posts_path, method: :post, local: true, class: "border border-radius p-3" do |form| %>
            <div class="mb-3">
              <%= form.hidden_field :ogiri_topic_id, value: @ogiri_topic.id %>
              <%= form.label :content, "大喜利の回答", class: "form-label" %>
              <%= form.text_area :content, class: "form-control" %>
            </div>

            <div class="d-grid gap-2">
              <%= form.submit "大喜る", class: "btn btn-warning" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
