<h2 class="text-center my-4">Sign up</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4"> 
      <%= form_with(model: resource, url: registration_path(resource_name), local: true, html: { class: 'needs-validation', novalidate: true }) do |f| %>
        <% if resource.errors.any?%>
          <%= render partial: "devise/shared/error_messages"%>
        <% end %>
      
        <div class="mb-3">
          <%= f.label :avatar, class: 'form-label' %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
        
        <div class="mb-3">
          <%= f.label :nickname, class: 'form-label' %>
          <%= f.email_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control', required: true, placeholder: "ニックネームを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: "メールアドレスを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: 'form-label' %>
          <small class="form-text text-muted">
            (大文字、小文字、数字を含む７文字以上)
          </small>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true, placeholder: "パスワードを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true, placeholder: "パスワードを入力してください" %>
        </div>

        <div class="d-grid gap-2 text-center">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
