<h2 class="text-center my-4">Sign up</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4"> 
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'needs-validation', novalidate: true }) do |f| %>

        <div class="mb-3">
          <%= f.label :avatar, class: 'form-label' %>
          <%= f.file_field :avatar, class: 'form-control' %>
        </div>
        
        <div class="mb-3">
          <%= f.label :nickname, class: 'form-label' %>
          <%= f.email_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control', required: true, placeholder: "ニックネームを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: 'form-label' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true, placeholder: "メールアドレスを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :password, class: 'form-label' %>
          <% if @minimum_password_length %>
          <small class="form-text text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </small>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true, placeholder: "パスワードを入力してください" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: 'form-label' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true, placeholder: "パスワードを入力してください" %>
        </div>

        <div class="d-grid gap-2 text-center">
          <%= f.submit "Sign up", class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
