<div class="border">
  <div class="border mb-1">
    <div class="m-3">
      <div class="d-flex justify-content-between align-items-center">
        <%= render partial: "shared/user_avatar_nickname", locals: { user: post.user } %>
        <p><%= l post.created_at %></p>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to post_path(post) do %>
          <%= image_tag("/#{post.img_url}") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-3">
    <div class="row align-items-center">
      <div class="d-flex">
        <div class="flex-nowrap col-10">
        </div>
        <div class="col-2 d-flex">
          <%= turbo_frame_tag "post_#{post.id}_like" do %>
            <% if user_signed_in? && post.liked_by_user?(current_user) %>
              <%= button_to post_like_path(post, post.likes.find_by(user: current_user)), method: :delete, data: { turbo_frame: "post_#{post.id}_like" } do %>
                <i class="bi bi-heart-fill" style="color: red;"></i>
              <% end %>
            <% else %>
              <%= button_to post_likes_path(post), data: { turbo_frame: "post_#{post.id}_like" } do %>
                <i class="bi bi-heart"></i>
              <% end %>
            <% end %>
            <p class="ms-2"><%= post.likes.size %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
