<div class="my-3 border-end vh-100">

  <%= image_tag 'Giriwara.png', class: 'mb-5', :size =>'150x150'%>

  <%= link_to ogiri_topics_path, class: 'text-decoration-none side-custom-link' do %>
    <div class="d-flex custom-size mb-1">
      <i class="bi bi-clipboard-fill mx-2"></i>
      <p>大喜る</p>
    </div>
  <% end %>

  <%= link_to posts_path, class: 'text-decoration-none side-custom-link' do %>
    <div class="d-flex custom-size mb-1 custom-size">
      <i class="bi bi-eye mx-2"></i>
      <p>大喜利を見る</p>
    </div>
  <% end %>


  <%= link_to likes_path, class: 'text-decoration-none side-custom-link' do %>
    <div class="d-flex custom-size mb-1">
      <i class="bi bi-heart-fill mx-2"></i>
      <p>いいね</p>
    </div>
  <% end %>

  <%= link_to user_path(current_user), class: 'text-decoration-none side-custom-link' do %>
    <div class="d-flex custom-size mb-1">
      <i class="bi bi-person-circle mx-2"></i>
      <p>プロフィール</p>
    </div>
  <% end %>

  <%= link_to edit_user_registration_path, class: 'text-decoration-none side-custom-link' do %>
    <div class="d-flex custom-size mb-1">
      <i class="bi bi-gear mx-2"></i>
      <p>設定</p>
    </div>
  <% end %>
</div>