<div class="container-fluid">
  <div class="row my-4">
    <div class="col-md-3 border-end">
      <%= render partial: "shared/sidebar" %>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center">
        <%= render partial: "shared/search" %>
      </div>
      <% @posts.each do |post| %>
        <%= link_to post_path(post), class: "d-block text-decoration-none custom-link" do %>
          <%= render partial: "shared/posts", locals: { post: post }%>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= render partial: "shared/form", locals: { post: @post, tag_name: @tag_name } %>
    </div>
  </div>
</div>