<!DOCTYPE html>
<html>
<head>
  <title>ギリ笑</title>
  <style>
    .content-box {
      background: #333;
      color: #fff;
      padding: 20px;
      border-radius: 10px;
      margin-top: 20px;
    }
  </style>
</head>
<body style="background-color: #f2dd57;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= image_tag 'Giriwara.png', size: '50x50' %>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to '会員登録', new_user_registration_path, class: 'btn btn-warning me-2' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-warning' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5 content-box">
    <div class="row text-center">
      <div class="col-md-4">
        <%= image_tag 'Giriwara.png', class: 'img-fluid mb-3' %>
        <p>大喜利のお題を作成する</p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'Giriwara.png', class: 'img-fluid mb-3' %>
        <p>大喜利に回答する</p>
      </div>
      <div class="col-md-4">
        <%= image_tag 'Giriwara.png', class: 'img-fluid mb-3' %>
        <p>ユーザーをフォローする</p>
      </div>
    </div>
  </div>
</body>
</html>
